<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>
</head>
<body>
    <h2>Train Schedules</h2>
    <form method="GET" action="{% url 'Bookings:train_details' %}">
        <label for="departure">Departure Station:</label>
        <input type="text" name="departure" id="departure">

        <label for="arrival">Arrival Station:</label>
        <input type="text" name="arrival" id="arrival">

        <button type="submit">Filter</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Train</th>
                <th>Departure Station</th>
                <th>Departure Time</th>
                <th>Arrival Station</th>
                <th>Arrival Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in train_schedules %}
                <tr>
                    <td>{{ schedule.train.name }}</td>
                    <td>{{ schedule.DepartureStation.name }}</td>
                    <td>{{ schedule.departure_time }}</td>
                    <td>{{ schedule.ArrivalStation.name }}</td>
                    <td>{{ schedule.arrival_time }}</td>
                    <td>
                        <form method="post" action="{% url 'Bookings:book_ticket' schedule.id %}">
                            {% csrf_token %}
                            <label for="class_type">Class Type:</label>
                            <select name="class_type" id="class_type">
                                <option value="economy">Economy</option>
                                <option value="business">Business</option>
                            </select>
                            <input type="submit" value="Book">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
