{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>

  <header>
    <div class="logo">
        <img src="{% static 'logo.png' %}" alt="Railwayz Logo">
        <span>RailWayz</span>
    </div>
    <nav>
        <ul>
          <li><a href="{% url 'Core:home' %}">Home</a></li>
          <li><a href="{% url 'Core:services' %}">Services</a></li>
        </ul>
    </nav>
</header>


<div class="container">
    <h1>Login</h1>
        {% if message %}
        <p class="error">{{ message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="useful">
            <a class="forget" href="{% url 'UserManagement:password_reset' %}">Forgot Password?</a>
            <span>New? <a class="signup" href="{% url 'UserManagement:Register' %}">Signup</a></span>
        </div>
</div>
<footer>
    <div class="footer-container">
        <div class="copyright">
            <p>© 2024 RailWayz. All rights reserved.</p>
        </div>
        <nav class="footer-nav">
            <ul>
                <li><a href="{% url 'Core:privacy' %}">Privacy</a></li>
                <li><a href="{% url 'Core:terms' %}">Terms</a></li>
                <li><a href="{% url 'Core:contact' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>
