<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>

  {%load static%}
    <link rel="stylesheet" href="{% static 'registrationComplete.css'%}">
</head>
<body>
  <div class="container">
    <h2>Register in process</h2>
    <p>We have sent you a confirmation email. Please confirm your registration to verify, then proceed to log in.</p>
    <a href="UserManagement:userLogin" class="login-btn">Login</a>

  </div>
</body>
</html>