@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'verdana';
    background-color: #f2f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: lightblue;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #13477f;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 33px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav ul li {
    margin: 0 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    transition: color 0.3s;
    color: #333;
}

.footer-nav ul li a:hover {
    color: lightblue;
}

.button {
    background-color: #13477f;
    width: 100px; 
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color:#f0f0f0;
    text-decoration: none;
    margin-top: 20px;
}
