
body, ul 
{
    margin: 0;
    padding: 0;
    font-family: 'verdana'; 
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* adjust the background color */
    padding: 10px 20px;
}

.logo 
{
    display: flex;
    align-items: center;
}

.logo img 
{
    width: 50px; /* adjust the width of the logo image */
    height: auto;
    margin-right: 10px; /*  space between the logo image and the text */
}

.logo span 
{
    font-size: 24px; /*  font size of the text */
}

nav ul 
{
    list-style-type: none;
    display: flex;
}

nav ul li 
{
    margin-right: 20px; /* space between navigation items */
}

nav ul li a 
{
    text-decoration: none;
    color: #333; /* Adjust the color of the links */
    font-weight: bold;
    font-size: 16px; /* Adjust the font size of the links */
}

nav ul li a:hover 
{
    color: #007bff; /* Change the color on hover as per your design */
}

footer 
{
    background-color: #f0f0f0;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.footer-container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height:30px
}


.footer-nav ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav ul li 
{
    margin: 0 10px;
}

.footer-nav ul li a 
{
    text-decoration: none;
    transition: color 0.3s;
    color: #333; /* Adjust the color of the links */
}

.footer-nav ul li a:hover 
{
    color: #007bff; /* Change the color on hover as per your design */
}

.container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.container p, .container li {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.container ol {
    padding-left: 20px;
}