@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'verdana';
  color: rgb(0, 0, 0);
}



body{
  
  background-image: url('img5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #f0f0f0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
 
  color: lightblue;
}

.navbar .right-text {
  float: right;
  padding: 5px 10px;
  font-size: 18px;
}

.navbar .left-text {
  float: left;
  padding: 20px 10px;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.logo 
{
    display: flex;
    align-items: center;
}

.logo img 
{
    width: 55px; /* adjust the width of the logo image */
    height: auto;
    margin-right: 5px; /*  space between the logo image and the text */
    margin-left: 10px;
}

.logo span 
{
    font-size: 24px; /*  font size of the text */
}


.services {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;


}

.column {
  width: 725px;
}

.services-heading {
  text-align: center;
  padding-top: 75px; /* Adjust the padding as needed for spacing */
  color: #fff;
}

.services-heading h1 {
  font-size: 36px;
  margin: 0;
}
.service-box {
 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #fff;
  height: 175px;
  border: 3px solid lightcyan; /* Increase the border width and adjust color if needed */
  backdrop-filter: blur(30px);
  background-color: rgb(197, 219, 233); /* Light grey color */
  margin: 5px;
}

/* Styles for service headings and details */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  

}

.service-details {
  font-size: 16px;
  line-height: 1.6;
  
}

